- if account.banned?
  = link_to "Unban",
            dashboard_account_path(account, status: :active),
            method: :put,
            remote: true,
            class: "dashboard__body__table__accounts__row__actions__unban btn btn-primary ms-auto align-middle"
- else
  - if account.admin?
    = link_to "Revoke admin",
              dashboard_account_path(account, role: :normal_user),
              method: :put,
              remote: true,
              class: "dashboard__body__table__accounts__row__actions__revoke btn btn-warning ms-auto"
  - else 
    = link_to "Grant admin",
              dashboard_account_path(account, role: :admin),
              method: :put,
              remote: true,
              class: "dashboard__body__table__accounts__row__actions__grant btn btn-outline-secondary ms-auto me-2"
    = link_to "Ban",
              dashboard_account_path(account, status: :banned),
              method: :put,
              remote: true,
              class: "dashboard__body__table__accounts__row__actions__ban btn btn-danger align-middle"
