.alert.alert-secondary.alert-dismissible.fade.show.position-absolute.start-0.bottom-0.ms-2.d-inline-block.position-fixed role="alert"
  button.btn-close type="button" data-bs-dismiss="alert" aria-label="Close"
  = link_to_notificationable(notification, true)
