@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/dist/css/bootstrap";
@import "~select2/dist/css/select2";
@import "~trix/dist/trix";

$body-bg: #f5f5f5;
$secondary-alter-bg: #3B49DF;
$secondary-alter-hover-bg: #2F3AB2;
$link-color: #6c757d;
$link-hover-bg: #e2e3f3;

html {
  scroll-behavior: smooth;
}

body {
  font-family: Sans-Serif;
  background: $body-bg;
}

.w-40 {
  width: 40%;
}

.text-secondary-alter {
  color: $secondary-alter-bg;  
}

.btn-secondary-alter {
  color: $secondary;
}

.btn-secondary-alter:hover {
  color: $secondary-alter-bg;
  background: white;
}

.active {
  font-weight: bold;
}

.menu-link {
  color: $link-color;
}

.menu-link:hover {
  color: $secondary-alter-hover-bg;
  background: $link-hover-bg;
  text-decoration: underline;
}

.btn-positive {
  background: $secondary-alter-bg;
  color: white;
}

.btn-positive:hover {
  background: $secondary-alter-hover-bg;
  color: white;
}

.btn-negative {
  background: white;
  color: black;
}

.btn-negative:hover {
  background: #efefef;
  color: black;
}

.btn:active {
  border: none;
}

.notification-link {
  background: white;
}

.notification-link:hover {
  background: $link-hover-bg;
}

ul {
  list-style-type: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #dee2e6;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

.error_404_text {
  font-size: 6rem;
}

@media (min-width: 768px) {
  .side_navbar_toggle {
    display: none;
  }
}
