@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/dist/css/bootstrap";
@import "~select2/dist/css/select2";
// @import 'actiontext.css';
@import '~trix/dist/trix';

$body-bg: whitesmoke;

body {
  font-family: Sans-Serif;
  background: $body-bg;
}
